page-notes-detail {

.toolbar-background.toolbar-background-md {
    background-color: black;
}

.toolbar-title.toolbar-title-md {
    color:  white;
} 

.ioncontent{
    background-color: black;
}

button.bar-button.bar-button-md.bar-button-default.bar-button-default-md {
    color: white;
}

}
